/* Typography */
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

/* Base styles */
:root {
    --ff: 'Montserrat', serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text-xlarge-bold: bold 1.25rem/1.3em var(--ff);
    --text-xlarge: normal 1.25rem/1.3em var(--ff);
    --text-large-bold: bold 1.125rem/1.333em var(--ff);
    --text-large: normal 1.125rem/1.333em var(--ff);
    --text-normal-bold: bold 1rem/1.375em var(--ff);
    --text-normal: normal 1rem/1.375em var(--ff);
    --text-small-bold: bold 0.875rem/1.428em var(--ff);
    --text-small: normal 0.875rem/1.428em var(--ff);
    --text-xsmall-bold: bold 0.75rem/1.5em var(--ff);
    --text-xsmall: normal 0.75rem/1.5em var(--ff);

    --gray100: hsl(0deg, 0%, 100%);
    --gray70: hsl(0deg, 0%, 70%);
    --gray50: hsl(0deg, 0%, 50%);
    --gray10: hsl(0deg, 0%, 10%);
    --gray0: hsl(0deg, 0%, 0%);

    --error: hsl(360deg, 100%, 70%);

    color-scheme: light dark;
    color: var(--gray100);
    background-color: var(--gray0);
}

* {
    font: var(--text-normal);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff);
}

#root {
    min-width: 320px;
    max-width: 1200px;
    height: 100dvh;
    padding: 1.25rem 1rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Buttons */
button {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border: none;
}

.primary {
    border-radius: 0.375rem;
    color: var(--gray0);
    background-color: var(--gray100);
}

.filter {
    padding: 0;
    margin: 0;
    color: var(--gray100);
    background: none;
}

/* Todo list feature */
ul {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    overflow-y: scroll;
}

/* Todo submission feature */
label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip-path: 'insert(50%)';
    white-space: 'nowrap';
    overflow: hidden;
}

form {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

form input {
    flex: 1;
}

input[type='text'] {
    height: 2.5rem;
}

input[type='text']::placeholder {
    color: var(--gray100);
}

form button {
    margin-left: 0.5rem;
    flex-shrink: 0;
}

form p {
    font: var(--p2);
    position: absolute;
    bottom: -20px;
    flex-basis: 100%;
    color: var(--error);
}

/* Filter layout */
.filter-layout {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: end;
}

/* Status filter */
.status-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selected-filter {
    font: var(--text-normal-bold);
}

/* Search filter */
.search-filter {
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 11px;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--gray10);
}

input[type='search'] {
    width: 100%;
    border: none;
    background-color: transparent;
}

.hide-icon {
    visibility: hidden;
}

/* Todo list */
.todo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.todo input {
    margin-right: 1rem;
}

input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
    color: green;
    background: red !important;
}

.todo p {
    flex-grow: 1;
}

.todo-completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.todo-icon {
    width: 1.1rem;
    height: 1.1rem;
    color: var(--gray100);
}

/*Reusable classes*/
.surface {
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--gray10);
}

.hide-element {
    display: none;
}

/* Date picker */
.date-component {
    min-width: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--gray10);
    border-radius: 0.375rem;
}

.selected-date {
    border-color: var(--gray100);
    color: var(--gray0);
    background-color: var(--gray100);
}

.date-picker {
    width: 100%;
    height: 7rem;
    display: flex;
    gap: 16px;
    overflow-x: auto;

    --left-fade: 10%;
    --right-fade: 10%;

    transition:
        mask 0.4s ease,
        -webkit-mask 0.4s ease;

    -webkit-mask: linear-gradient(
        to right,
        transparent 0%,
        var(--gray0) var(--left-fade),
        var(--gray0) calc(100% - var(--right-fade)),
        transparent 100%
    );

    mask: linear-gradient(
        to right,
        transparent 0%,
        var(--gray0) var(--left-fade),
        var(--gray0) calc(100% - var(--right-fade)),
        transparent 100%
    );
}

.date-picker.at-start {
    --left-fade: 0%;
}

.date-picker.at-end {
    --right-fade: 0%;
}

/* Light theme */
@media (prefers-color-scheme: light) {
    :root {
        --gray100: hsl(0deg, 0%, 0%);
        --gray70: hsl(0deg, 0%, 30%);
        --gray50: hsl(0deg, 0%, 50%);
        --gray10: hsl(0deg, 0%, 90%);
        --gray0: hsl(0deg, 0%, 100%);
    }
}
